.App {
  text-align: center;
}

body, h1, h2, p, ul, li {
  margin: 0;
  pad: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

@media (max-width: 768px) {
  .header-dropdown {
    display: block;
  }
  .header-dropdown select {
    display: block; /* Display options vertically */
    width: 100%; /* Take up full width */
    margin-bottom: 10px; /* Add spacing between options */
  }
  .home-content {
    padding: 10px;
  }
  .home-section {
    padding: 10px;
  }
}

/* LAYOUT JSX */
.layout-container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* HEADER JSX */
.header-section {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section h1{
  margin: 0;
  font-size: 24px;
}

.header-section header a{
  text-decoration: none;
  color: #fff;
}

.header-section div {
  display: flex;
  gap: 10px;
}

.header-section button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-section button:hover {
  background-color: #ff6600
}

.header-dropdown {
  display: none;
}

.header-dropdown select {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  width: 100%
}

.header-dropdown select:focus {
  outline: none;
  border-color: #ff9900;
}


/* HOME PAGE */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

/* SEARCH */
.search-bar-container{
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar-container input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 16px;
}

.search-bar-container button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-bar-container button:hover {
  background-color: #ff6600;
}

/* HOME SECTION */
.home-section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
}

/* BOOK BY GENRE */
.hS-wrap {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.hS-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hS-item-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  padding: 15px;
  max-height: 100%;
  /* height: 400px;
  flex-grow: 1; */
  overflow-y: auto;
  justify-content: space-between;
}

.hS-item-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hS-item {
  flex: 1;
  max-width: 350px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
}

.hS-title {
  font-size: 18px;
  font-weight: bold;
}

.bBG-book-title a:visited {
  color: inherit !important;
  text-decoration: none !important;
}

.hS-information {
  font-size: 14px;
  color: #666;
}

.hS-scroll-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37438b;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: background-color 0.2s, transform 0.2s;
  font-size: 20px;
  line-height: 1;
}

.hS-scroll-button.left {
  left: 0;
}

.hS-scroll-button.right {
  right: 0;
}

/* COVER IMAGE */
.cover-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.cover-image {
  position: relative;
  width: 200px; 
  height: 230px;
  border-radius: 4px;
  overflow: hidden; 
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.coverImage-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.no-cover-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: #777777;
}

.book-cover-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cI-input {
  margin: 10px 0;
  padding: 5px;
}

.cI-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -5px;
}

.cI-button {
  padding: 5px 10px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; 
}


/* RATING */
.rating-empty-star {
  color: grey
}

.rating-full-star {
  color: red;
}

/* FORMS */
.form-section {
  background-color:#fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 auto;
  width: 75%;
  max-width: 600px;
}

.form-section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-section form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type='text'],
.form-group input[type='number'],
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

.form-group input[type='number'] {
  width: 100%;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.form-group p {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

.form-group-genre-selection-checkbox-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.form-group-genre-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.form-group-genre-selection-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
  margin-bottom: 5px;
}

.form-group-other-genre-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.form-group-genre-selection-checkbox-container input[type='checkbox'] {
  margin-right: 5px;
  vertical-align: middle;
}

.form-group-genre-box{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.form-group-other-genre-box{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.form-group-genre-name {
  margin-right: 5px;
}

.form-group-genre-remove-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.form-group-create-genre-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-group-create-genre-button-container {
  margin-right: 10px
}

.form-group-create-genre-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group-create-genre-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group-create-genre-container input[type='text'] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.form-group-create-genre-container button {
  padding: 5px 10px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; 
}

.form-group-create-genre-container button:last-child {
  margin-right: 0;
}

.form-group-create-genre-container button.add-genre-button {
  margin: 0 auto;
  display: block;
  margin-left: 10px;
}

.form-group-create-genre-container button:hover {
  background-color: #ff6600;
}

.form-group-submit-button {
  padding: 5px 10px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; 
  margin: 0 auto;
  display: block;
}

.form-group-button[disabled]{
    background-color: #ccc;
    cursor: not-allowed;
}

/*BOOK DETAILS */
.bD-section-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.bD-section-left {
  max-width: 300px;
  padding: 10px;
  flex: 1;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.bD-section-right {
  flex: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 30px;
}

.bD-section-right > * {
  align-self: flex-start;
  padding-left: 20px;
}

.bD-information-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
}

.bD-title {
  font-size: 30px;
  margin-right: 20px;
}

.bD-author {
  font-size: 24px;
  color: grey;
}

.bD-information-rating-container {
  display: flex;
  padding: 5px;
  font-size: 20px;
  justify-content: center;
}

.bD-information-rating-container p {
  margin-left: 10px;
  font-size: 18px;
  margin-right: 10px;
}

.bD-description {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-top: 20px;
}

.bD-genre-title{
  font-size: 16px;
  margin-right: 15px;
  color: grey;
}

.bD-genre-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bD-genre-item {
  display: inline-block;
  margin-right: 10px;
}

.bD-genre-item span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 2px;
}

.bD-information-container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 5px;
}

.bD-information-container-2 p{
  margin-bottom: 5px;
  margin-top: 2px;
  color: grey;
}

.bD-button {
  padding: 5px 10px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bD-button:hover {
  background-color: #ff6600
}

hr {
  width: 90%;
}

.dB-review-section {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

/*REVIEW */
.review-container {
  margin-top: 20px;
}

.cR-conrainer {
  padding: 10px;
}

.eR-container {
  border: none;
  padding: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #f6f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.eR-left {
  max-width: 300px;
  padding: 10px;
  flex: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
}

.review-username {
  font-size: 18px;
  font-weight: bold;
}

.eR-right {
  flex: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
}

.review-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.review-button-container {
  width: 50%;
  display: flex;
  align-items: flex-start;
}

.review-button-container button {
  margin-left: 10px;
}


/* USERBOOK */
.uB-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.uB-status-section {
  margin: 10px;
}

.uB-status-section p {
  margin: 0;
}

.uB-dropdown-button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.uB-dropdown-button,
.uB-status-form {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.uB-form-selection-container {
  display: flex;
  align-content: center;
  justify-content: center;

}

.uB-selections {
  padding: 5px;
}

.uB-button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.uB-button:hover {
  background-color: #ff6600
}

.uB-container p {
  margin-bottom: 5px;
  margin-top: 5px;
}

/*LIBRARY*/

.mL-pagetitle {
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
}
.mL-container-left {
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.mL-container-scroll {
  max-height: 400px;
  overflow-y: auto;
  padding: 20px;

}

.mL-form-selection-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.mL-form-selection-container label {
  margin-right: 5px;
}

.mL-book-item {
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.mL-container-right {
  padding: 5px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;

}

.mL-book-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.mL-book-info p {
  margin-top: 5px;
  color: #555
}

.mL-book-title-link {
  font-size: 24px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.mL-book-counter{
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mL-book-counter h4 {
  font-size: 16px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mL-book-counter h4 button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0px 5px 0px 5px
}

.mL-book-counter h4 button:hover{
  background-color: #ff6600
}

.mL-book-counter p {
  font-size: 16px;
  margin-top: 20px;
}

.mL-chart-wrapper {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}