.App {
  text-align: center;
}

body, h1, h2, p, ul, li {
  margin: 0;
  pad: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

@media (max-width: 768px) {
  .header-dropdown {
    display: block;
  }
  .header-dropdown select {
    display: block; /* Display options vertically */
    width: 100%; /* Take up full width */
    margin-bottom: 10px; /* Add spacing between options */
  }
  .home-content {
    padding: 10px;
  }
  .home-section {
    padding: 10px;
  }
}

/* LAYOUT JSX */
.layout-container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* HEADER JSX */
.header-section {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section h1{
  margin: 0;
  font-size: 24px;
}

.header-section header a{
  text-decoration: none;
  color: #fff;
}

.header-section div {
  display: flex;
  gap: 10px;
}

.header-section button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-section button:hover {
  background-color: #ff6600
}

.header-dropdown {
  display: none;
}

.header-dropdown select {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  width: 100%
}

.header-dropdown select:focus {
  outline: none;
  border-color: #ff9900;
}


/* HOME PAGE */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.home-section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
}

/* SEARCH */
.search-bar-container{
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar-container input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 16px;
}

.search-bar-container button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-bar-container button:hover {
  background-color: #ff6600;
}

/* BOOK BY GENRE */
.books-by-genre {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}

.bBG-genre-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bbG-book-item-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
}

.bBG-book-item {
  width: calc(33.33% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.bBG-book-title {
  font-size: 18px;
  font-weight: bold;
}

.bBG-book-author {
  font-size: 14px;
  color: #666;
}

.bBg-scroll-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bBg-scroll-button:hover {
  background-color: #f9f9f9;
}